
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,h2,h4,h5,h6 {
  font-family: sans-serif;
}

  p {
    font-family: sans-serif;
    line-height: 195%;
  }

  h1{
    font-size: 48px;
    font-weight: 700;
  }
  h2{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
  }
  
  body {
    background-color: rgba(62, 19, 19, 0.096);
    
  }
  main {
    padding-left: 102px;
    
  }

   main > section{
    padding-right: 144px;
    padding-right: 114px;
    padding-top: 64px;
   }

  main > section.active {
    display: block;
  }
  
  #sidebar {
    height: 100vh;
    padding-left: 39px;
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: f6f6e5;
  }
  
  .logo {
    height: 20%;
    padding-top: 50px;
  }
  
  nav {
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  nav ul {
    list-style: none;
    padding: 0%;
    margin: 0;
  }
  nav ul li {
    position: relative;
    margin-bottom: 35px;
  }
  nav ul li:hover a i {
    color: cornsilk;
  }
  nav ul li:hover span {
    opacity: 1;
    left: 30px;
  }
  nav ul li a span {
    display: none;
  }
  nav ul li > span {
    position: absolute;
    white-space: nowrap;
    top: -8px;
    left: 30px;
    padding: 7px 13px;
    background: rgba(79, 79, 87, 0.75);
    border-radius: 6px;
    opacity: 0;
    transition: all 0.3s;

  }
  nav ul li a{
    position: relative;
  }
  nav ul li a i {
    font-size: 18px;
    color: bisque;
    transition: all 0.3s;
  }
  nav ul li a:hover i {
    color: white;
  }
  nav ul li a:hover + span {
    opacity: 1;
    left: 30px;
  }
  nav ul li a:before {
    content: "";
    position: absolute;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background: red;
    opacity: 0;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.2s;
  }
  nav ul li a.active:before {
    opacity: 0.15;
    transform: translate(-50%, -50%) scale(1);
  }
  nav ul li a.active i {
    color: #193e8f;
  }
  nav ul li a i {
    font-size: 18px;
    color: #B6B7BA;
    transition: all 0.3s;
  }
  .toggle-sidebar{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 30px;
    background: #ae91ac;
    width: 45px;
    height: 45px;
    right: -45px;
  }
  
  .toggle-mode {
    height: 20%;
    display: flex;
    padding-bottom: 62px;
    align-items: flex-end;
  }

  .toggle-mode .outer {
    width: 24px;
    height: 35px;
    border-radius: 24px;
    background: #1e1e1e20;
  }

  .btn-custom-blue {
    display: inline-block;
    position: relative;
    background: #262F48;
    padding: 10px 52px;
    text-decoration: none;
    color: #658DF2;
    border-radius: 8px;
    z-index: 1;
    overflow: hidden;
    transition: all 0.3s;
  }

  .toggle-mode .outer .inner{
    position: relative;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 16px;
    background: #658df2;
  }

  .btn-custom-blue:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background: #658DF2;
    opacity: 0.3;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: -1;
    transition: all 0.3s;
  }
  .btn-custom-blue:hover {
    color: #fff;
  }
  .btn-custom-blue:hover:before {
    transform: translate(-50%, -50%) scale(2);
  }
  

  /* mobile styles */
  @media (max-width: 768px) {
    /* Sidebar css styles */
    #sidebar {
      background: #ae91ac;
      padding-right: 60px;
      transform: translateX(-100%);
      transition: all 0.3s;
    }
    #sidebar.open {
      transform: translateX(0);
    }
    #sidebar .toggle-sidebar{
      display: flex; 
    } 

    #sidebar .logo{
      text-align: left;
    }

    #sidebar nav ul li a {
      display: flex;
      align-items: center;
      padding: 8px;
      text-decoration: none;
      color: white;
    }

    #sidebar nav ul li a:before {
      display: none;
    }

    #sidebar nav ul li a span {
      display: block;
      padding-left: 8px;
    }

    #sidebar nav ul li > span {
      display: none;
    }

    /* Home section mobile css styles */
    #home .info{
      padding-top: 50px; 
    }

    h1{
      font-size:36px;
    }

    h2{
      font-size: 18px;
    }


    main{
      padding-left: 0;
      padding-top: 50px; /*temporary  */
    }

    main > section{
      padding-left: 32px;
      padding-right: 32px;
    }
  
  }
   .container {
    padding: 20px; 
}

 /* Home section stlyes */
  #home {
    padding-bottom: 26px;
  }
    
  #home .info {
      padding-top: 300px; /*work on trying to decrease this padding*/
    }
    
  #home.info h1{
      margin-bottom: 24px;
    }

  #home .info h1 span{
      color: darkslategray;
    }

  #home .info p{
      max-width: 430px;
      margin-bottom: 72px;
    }

  #home .image {
      height: 100vh; 
      display: flex;
      align-items: center;
      justify-content: flex-end; 
    }

  #home .image img{
      padding-top: 50px; 
      border-radius: 6px;
      max-width: 100%;
    }

    /* About me section */
    #about h1{
      display: flex;
      align-items: baseline;
      justify-content: center;
      margin-bottom: 32px;
    }

    #about h2{
      margin-bottom: 18px;
      color: darkgreen;
    }
    #about p{
      max-width: 1200px;
    }

    /*skills section starts here */
    #skills {
      margin-top: 60px;
      background: mintcream;
    }
    #skills h1{
      display: flex;
      justify-content: center;
    }

    #skills h3{
      display:flex;
      justify-content: center; 
      text-align: center;
      font-weight:700;
      padding-bottom:26px;
    }

    #skills .row{
      padding-left: 20px;
    }

    #skills h6{
      /* font-size: 20px; */
      font-weight: bold;
    }
    
    #skills .item{
      font-style: italic;
      font-weight: bold;
    }

    #skills h1{
      text-align: center;
      padding-bottom: 24px;
    }

    
    #skills img{
      padding: 10px;
    }

    .tech-tools {
      display: flex;
      flex-wrap: wrap; 
      justify-content: space-between; 
    }

    .container {
      padding: 20px; 
    }

   .col-6 {
      flex: 0 0 50%; 
      max-width: 50%;
    }

    .col-sm-2 {
      flex: 0 0 33.33%; 
      max-width: 33.33%;
    }
  
    .tech-tools p { 
      font-weight: bold; 
      width: calc(50% - 10px); 
      margin: 5px;
      line-height: 175%;
      font-size: 16px; 
    }  
  
    /* work section starts here */
    #work h1{
      text-align: center;
    } 

    #work h3{
      font-weight: 700;
      font-size: 20px;
    }

    #work .project a button{
      border-radius: 50px;
      background: transparent;
      font-weight: 700;
      color: blue;
      border: 2px solid;
      width: 25%;
    }

    #work .row{
      flex-wrap: wrap;
      margin: auto;
      padding: 20px 0 20px 0;
      display: flex;
      justify-content: center;
      align-items: stretch;
    }

    #work .project{
      padding-bottom: 60px;
    }

    #work .project img{
      max-width: 100%;
      padding-bottom: 24px;
      /* border: 2px solid lightgrey; */
      /* max-height: 100%; */
    }

    /* contact section starts here */
    #contact {
      min-height: 60vh;
    }
    #contact .container .text-center{
      margin-top: 123px;
      padding-bottom: 40px;
    }
    #contact .container .form {
      padding-right: 36px;
      padding-top: 12px;
    }
    #contact .container .form .form-item {
      position: relative;
      margin-bottom: 32px;
    }
    #contact .container .form .form-item.focus label {
      top: -3px;
      font-size: 12px;
    }
    #contact .container .form .form-item.focus:after {
      width: 100%;
    }
    #contact .container .form .form-item:before {
      content: "";
      position: absolute;
      height: 2px;
      width: 100%;
      background: #808185;
      bottom: 0;
      left: 0;
    }
    #contact .container .form .form-item:after {
      content: "";
      position: absolute;
      height: 2px;
      width: 0;
      background: #fff;
      bottom: 0;
      left: 0;
      transition: all 0.3s;
    }
    #contact .container .form .form-item label {
      position: absolute;
      top: 17px;
      color: black;
      transition: all 0.3s;
    }
    #contact .container .form .form-item input,
    #contact .container .form .form-item textarea {
      width: 100%;
      background: transparent;
      outline: none;
      border: none;
      padding: 14px 0;
    }
    #contact .container .form .form-item textarea {
      resize: none;
      min-height: 171px;
    }

    /* #contact .container .form .text-end button{
      background: lightgray ;
      padding: 10px 50px;
      text-decoration: none;
      color: blue;
      border-radius: 6px;
      transition: all 0.3s;
      border: none;
    } */
  
    #contact .container .info {
      padding-left: 176px;
      padding-top: 70px;
    }
    #contact .container .info .item {
      display: flex;
      margin-bottom: 32px;
      align-items: center;
    }
    #contact .container .info .item .text:hover i {
      background-color: blue;
      
    }
    #contact .container .info .item i {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 75px;
      height: 75px;
      border-radius: 50%;
      background-color: black;
      font-size: 60px;
      margin-right: 16px;
      transition: all 0.3s;
      color: white;
      flex-shrink: 0;
      
    }
    
    #contact .container .info .item .text a {
      text-decoration: none;
    }

    footer p{
      text-align: center;
    }

    /* Tablet styles */
    @media (max-width: 991px){
      #contact .container .info{
        display: flex;
        justify-content: center;
        padding-right: 108px;
        padding-left: 116px;
      }

      #contact .container .info .info-item{
        display: flex;
      }

      #contact .container .info .info-item i{
        font-size: 40px;
        width: 50px;
        height: 50px;
      }

      #home .image{
        justify-content: flex-start;
        height: unset;
        margin-top: 20px;
      }
  
      #contact .container .form .info{
        margin-top: 80px;
      }
    }
    
  
  @media (min-width:1199px){
    #about {

    }

    #contact .container .form{
      padding-right: 12px;
    }

    #contact .container .form .info{
      padding-left: 12px;
    }
  }

  /* Desktop section starts here */
    @media (min-width:1400px){
      
      #about .container{
        max-width: 1200px;
      }

    }




    
    
    

     